@charset "utf-8";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace epub "http://www.idpf.org/2007/ops";

/* Latin abbreviation: */
abbr[xml|lang]{
	font-style: italic;
}

/* Letters, notes, telegrams: */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}

/* Verses of a song: */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
